@import "../../../global.scss";

.about-social {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    font-size: 3.5rem;

    &-item {
        color: $secondary-color;

        &-link {
            color: inherit;
        }
    }
}
